body{

    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 40px;
    text-align: center;
}

table{

    margin: auto;
    margin-top: 50px;
}

button{

    width: 100px;
    height: 100px;
    background-color: cyan;
    border-radius: 10px;
    font-size: 30px;
}

button:hover{

    cursor: pointer;
    background-color: #249D9F;
}
